@import url(http://fonts.googleapis.com/css?family=Roboto:b);
h1{
	font-family: 'Roboto',serif;
	text-align: center;
	color: #fff;
	font-size: 35px;
}
body  {
  background-image: url("cricketquiz.jpg");
  height: auto;
  width: auto;

}
ul{
	list-style: none;
}
li{
	font-family: 'Roboto',serif;
	font-size: 2em;
	color: #feb125;
}
input[type=radio]{
	border: 0px;
	width: 20px;
	height: 2em;
}

p{
	font-family: 'Roboto',serif;
}
.quizContainer{
	background-color: #AC66CC;
	border-radius: 20px;
	width: 75%;
	margin: auto;
	margin-top: 68px;
	padding-top: 2px;
	position: relative;
}
.nextButton{
	border-radius: 6px;
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: #cc0000;

	color:#ffff;
	font-family: 'Roboto',serif;
	font-weight: bold;
	position: relative;
	margin: auto;
	padding-top: 20px;
}
.question{
	font-family: 'Roboto',serif;
	font-size: 2em;
	width: 95%;
	height: auto;
	margin: auto;
	border-radius: 15px;
	text-align: center;
	color: #343F56;
	background-color: #FB9300;
}
.quizMessage{
	background-color: peachpuff;
	border-radius: 6px;
	width: 30%;
	margin: auto;
	text-align: center;
	padding:2px;
	font-family: 'Roboto',serif;
	color: red;
}
.choiceList{
	font-family: Courier,serif;
	color: #F54748;
}
.result{
	width: 30%;
	height: auto;
	border-radius: 6px;
	background-color: linen;
	margin: auto;
	margin-bottom: 35px;
	text-align: center;
	font-family: 'Roboto',serif;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=i7dKIFtyYSaNG9A_JrmedQ&skey=415f62b718dd1a36&v=v3) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  text-shadow: 4px 4px 4px #aaa;
}
#marq {
	margin-top: 10px;
	color: #3B14A7;
}
.title{
    background-color: #FFF5DA;
    border-radius: 30px;
    width: 10%;
    font-size: auto;
    margin: auto;
    color: #FFA900;
    font-family:'Roboto',serif;
    position: relative;
}
